@using RazorEngine
@using BirthdayEmailer
@using ContactCommon
@inherits RazorEngine.Templating.TemplateBase<BirthdayModel>

<html>
<head>
  <title>@String.Format("{0:MMMM}", Model.Month) Birthdays</title>
</head>
<body>
    <p>Hi Shaffer Clan!</p>
    <p>Here's the upcoming birthdays for @String.Format("{0:MMMM yyyy}", Model.Month).</p>
    <dl>
    @foreach (Contact c in Model.Contacts) {
        DateTime bday = c.Birthday.Value;
        <dt>@String.Format("{0:MMM-d}", bday)</dt>
        if (bday < Model.Month) {
            <dd>@c.ShortName (@Model.Age(c) Years Old)</dd>
        } else {
            <dd>@c.ShortName</dd>
        }
    }
    </dl>
    <p>
        Full information can be found by using one or more of the following resources<br />
        <a href="https://1drv.ms/x/s!AlYbryv5WVB-jt8Ip19fCOyC7DqMIA">Master Excel Sheet (Edit your info here)</a> <br/>
        <a href="https://1drv.ms/w/s!AlYbryv5WVB-jrplXLtpIJXedSb4Zg">Printable Word Document</a> <br />
        <a href="https://1drv.ms/u/s!AlYbryv5WVB-jt8oSuOUSCx7SGBnFA">Outlook/Gmail Contacts</a> <br />
        <a href="https://1drv.ms/u/s!AlYbryv5WVB-jt8nYnIvIiKpHD4V3w">Apple Contacts</a> <br />
    </p>
</body>
</html>